// http://www.oliverdavies.co.uk/blog/include-css-fonts-using-sass-each-loop
// Organise your font files into directories, using the the font name for both
// the directory name and for the file names:
// ├── FuturaBold
// │   ├── FuturaBold.eot
// │   ├── FuturaBold.svg
// │   ├── FuturaBold.ttf
// │   └── FuturaBold.woff
@if $fonts {
  @each $family in $fonts {
    @font-face {
      font-family: #{$family};
      src: url('#{$fonts-path}#{$family}/#{$family}.eot');
      src: url('#{$fonts-path}#{$family}/#{$family}.eot?#iefix') format('embedded-opentype'),
           url('#{$fonts-path}#{$family}/#{$family}.woff') format('woff'),
           url('#{$fonts-path}#{$family}/#{$family}.ttf') format('truetype'),
           url('#{$fonts-path}#{$family}/#{$family}.svg##{$family}') format('svg');
      font-weight: normal;
      font-style: normal;
    }
  }
}